# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
uv.lock

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
local_settings.py

# Node
node_modules/
dist/
*.local
.npm/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store